article {
  /* border: 1px solid black; */
  flex: 0 1 300px;
  box-shadow: -2px 3px 14px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
  cursor: auto;
  border-radius: 0.4rem;
  overflow: hidden;
  backface-visibility: hidden;
  padding-bottom: 2rem;
}

article:hover {
  transform: scale(1.06) translateY(-1rem);
  box-shadow: -2px 3px 14px 0px rgba(0, 0, 0, 0.4);
}

.student-image {
  width: 100%;
  height: 280px;
  position: relative;
  display: block;
}

.student-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-logo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 34px !important;
  height: 34px !important;
}

.student-info {
  padding: 0 1.2rem;
}

.student-about {
  max-height: 4.9rem;
  overflow-y: hidden;
  text-align: center;
  letter-spacing: 0.02rem;
  color: #333;
}

.student-name {
  color: #333;
  text-align: center;
  font-size: 1.6rem;
  margin: 1rem auto 0.6rem;
  text-transform: capitalize;
}

.student-job {
  text-align: center;
  display: block;
  color: #666;
  text-transform: capitalize;
  font-style: italic;
}

.open-btn {
  display: block;
  color: white;
  font-size: 1.2rem;
  width: 8.4rem;
  letter-spacing: 0.06rem;
  text-align: center;
  margin: 0 auto;
  padding: 0.6rem 1rem;
  border: 1px solid grey;
  outline: none;
  cursor: pointer;
  border-radius: 100px;
  text-transform: capitalize;
  background: linear-gradient(
    90deg,
    rgba(2, 109, 207, 1) 0%,
    rgba(240, 73, 61, 1) 100%
  );
  transition: transform 0.2s linear;
  backface-visibility: hidden;
}

.open-btn:hover {
  transform: scale(1.04);
}

.open-btn:active {
  transform: translateY(0.4rem);
}
