.profile-head {
  display: flex;
  align-items: center;
}

.head-left {
  padding-left: 1rem;
}

.img-div {
  width: 200px;
  height: 200px;
}
.img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.head-right {
  margin-left: 2rem;
}
.fullname {
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0em;
}
.user-job {
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
}
