.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.2px solid lightgray;
  padding: 1rem 2rem 0.6rem;
  font-weight: 400;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: inherit;
}

.modal-title h4 {
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 0;
}

.modal-box-content {
  padding: 1rem 2rem;
}

.modal-box-content h6 {
  font-size: 1.4rem;
}

.modal-box-content form label {
  color: #7e7c7c;
  margin-bottom: 0.1rem;
}

.modal-box-content form input[type='text'],
.modal-box-content form select {
  border: 1px solid gray;
  margin-bottom: 1rem;
}

.modal-box-content form select:focus,
.modal-box-content form input[type='text']:focus {
  outline: none;
  box-shadow: none;
  border-color: inherit;
}

.modal-box-content form .form-check {
  margin-top: 1.6rem;
  margin-bottom: 0.6rem;
}

.btn-form-save {
  margin-left: auto;
  background: #0a66c2;
  color: #fff;
  padding: 5px 20px;
  border-radius: 30px;
  border: 1px solid #0a66c2;
}
